@{
	ViewData["Title"] = "Home Page";
}
@model FileChecks.Models.VersionManager

<!DOCTYPE html>
<html lang="cs">
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Home Page</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
	<div class="form-group mt-3">
		<form asp-controller="FolderCheck" asp-action="Index" method="post">
			<div class="mb-3">
				<label asp-for="SubFolderPath" class="form-label"></label>
				<div class="input-group">
					<span class="input-group-text text-muted bg-light">@VersionManager.RootPath\</span>
					<input asp-for="SubFolderPath" class="form-control border-secondary" />
				</div>
				<span asp-validation-for="SubFolderPath" class="text-danger"></span>
			</div>
			<input type="submit" value="Scan folder" class="btn btn-primary" />
		</form>
	</div>
</body>
</html>